<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pub.hanks.luajandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="androlua.LuaActivity"/>
        <activity android:name="androlua.widget.picture.PicturePreviewActivity"/>
        <activity android:name="androlua.widget.webview.WebViewActivity"/>
        <activity android:name="androlua.widget.video.VideoPlayerActivity" android:configChanges="orientation|screenSize|keyboardHidden"  android:hardwareAccelerated="true"/>
        <meta-data
            android:name="androlua.widget.glide.LuaGlideModule"
            android:value="GlideModule" />
    </application>
</manifest>